<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main class="container">
        <h1>Hello <%= name %>, Your Password has changed successfully !!!! </h1>
    </main> 
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>