<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <style>
        h1 {
            position:absolute;
            top:-160px;
            left:-16px;
            font-size: 24px;
            z-index: 1;
        }
        div {
            position:absolute;
            top:227px;
            left:26px;
            z-index: 1;
        }
        .content {
    width: 94%;
    height: 60vh;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
        #xss ,#csrf , #rev_tab , #ui {
            border: 35px solid rgb(108, 86, 182);
            padding: 30px;
            margin: 50px;
        }  
#razor {
        position:absolute;
        top:457px;
        left:177px;
        z-index: 1;
}
#search {
        position:absolute;
        top:457px;
        left:320px;
        z-index: 1;
}
.vl1 {
  border-left: 5px solid #121aad;
  height: 80px;
  left:225px;
  top:378px;
}
.vl2 {
  border-left: 5px solid #121aad;
  height: 80px;
  left:380px;
  top:378px;
}
    </style>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main class="container">
        <div class="content">
            <h1>Hello <%= name %>, Welcome to your Dashboard ! </h1>
            <a id="xss" href="/views/pages/dashboard">XSS</a><br><br>
            <div class="vl1">
            </div>
            <div class="vl2">
            </div>
            <a id="razor" href="/razor">Reflected-XSS</a><br><br>
            <a id="search" href="/search">DOM-Based-XSS</a><br><br>
            <a id="csrf" href="/change_pass">CSRF</a><br><br>
            <a id="rev_tab" href="https://malicious.meddler.io/tabnab_script" target="_blank" rel="opener">Reverse Tabnabbing</a>
            <a id="ui" href="/my_account">Clickjacking (UI redressing)</a>
        </div>        
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>

<!-- make host name dynamic as per server ip address -->