<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <style>
        .box {
    margin: 0 auto;
    width: 600px;
    padding: 73px;
    background: #f9f9f9;
    border: 2px solid #333;
}
.box {
    position: absolute;
    top: 90px;
    left: 35px;
    z-index: 1;
}
     #bt2 {
    position: relative;
    width: 126px;
    height: 36px;
    position: absolute;
    top: 169px;
    left: 306px;
    z-index: 1;
}
    </style>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <div class="box">
                    <!-- wiener has to be based on session -->
                    <!-- show same things as dashboard like my account home-->
                    <p>Your username is: <%= name %></p>
                    <form class="login-form" name="change-email-form" action="/my-account/change-email" method="POST">
                        <label>Email</label>
                        <input required="" type="email" name="email" value="">
                        <input required="" type="hidden" name="csrf" value="oab0E6tYxdT76KRyv2rPT2tpqag6B5EM">
                        <button id="bt1" class="button" type="submit"> Update email </button>
                    </form>
                    <form id="delete-account-form" action="/my_account" method="POST">
                        <!--  implement csrf protection as well || send a token from here | populate when page is rendered | and compare while checking the request csrf token -->
                        <!--  <input required="" type="hidden" name="csrf" value="oab0E6tYxdT76KRyv2rPT2tpqag6B5EM">  -->

                        <button id="bt2" class="button" type="submit">Delete account</button>
                    </form>
    </div>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>