<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <div theme="">
        <section class="maincontainer">
            <div class="container is-page">
                <div id="account-content">
                    <!-- wiener has to be based on session -->
                    <!-- show same things as dashboard like my account home-->
                    <p>Your username is: wiener</p>
                    <form class="login-form" name="change-email-form" action="/my-account/change-email" method="POST">
                        <label>Email</label>
                        <input required="" type="email" name="email" value="">
                        <input required="" type="hidden" name="csrf" value="oab0E6tYxdT76KRyv2rPT2tpqag6B5EM">
                        <button class="button" type="submit"> Update email </button>
                    </form>
                    <form id="delete-account-form" action="/my_account" method="POST">
                        <!--  implement csrf protection as well || send a token from here | populate when page is rendered | and compare while checking the request csrf token -->
                        <!--  <input required="" type="hidden" name="csrf" value="oab0E6tYxdT76KRyv2rPT2tpqag6B5EM">  -->

                        <button class="button" type="submit">Delete account</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>